//- index.jade
extends ./layouts/global.jade

block content
  section#posts
    article.post
      .post-content
        header
          .post-cat Công nghệ
          a(href="#")
            h6.post-title Hình ảnh thực tế BlackBerry Venice chạy Android
          span.date hôm nay lúc 20:59
          span &nbsp; &middot; &nbsp;
          a.tw(href="#")
            span.fa.fa-twitter-square
          | &nbsp;
          a.fb(href="#")
            span.fa.fa-facebook-square
          | &nbsp;
          a.google(href="#")
            span.fa.fa-google-plus-square
        a.cover(href="#")
          img(src="https://images.unsplash.com/photo-1431068799455-80bae0caf685?fit=crop&fm=jpg&h=800&q=80&w=1200")
      .post-summary
        p Đây là loại hình rò rỉ thực tế rõ nhất từ trước đến nay về chiếc BlackBerry Venice chạy Android, màn hình cong, có bàn phím cứng trượt ra. Qua hình ảnh ta cũng thấy được Vince là một chiếc điện thoại khá dày và to, có khe thẻ SIM và khe thẻ SD dạng slot cắp nên nhiều khả năng Venice được làm dạng nguyên khối không tháo ra được.
        p Theo hình ảnh chụp sát camera thì chúng ta có Camera có cảm biến 18Mp, chống rung quang học và lấy nét nhanh (fast focus)... đọc đến đây là thấy phê rồi.
        
  section#pagination
    .inner
      a.prev_post(href='detail.html')
        span.fa.fa-angle-left
        em Hình ảnh thực tế BlackBerry Venice chạy Android
      a.next_post(href='detail.html') 
        em Google Docs hỗ trợ nhập liệu bằng giọng nói, có Template, tích hợp Google Search 
        span.fa.fa-angle-right