//- index.jade
extends ./layouts/global.jade

block content
  section#posts
    article.post
      .post-content
        header
          .post-cat Công nghệ
          a(href="detail.html")
            h6.post-title Hình ảnh thực tế BlackBerry Venice chạy Android
          span.date hôm nay lúc 20:59
          span &nbsp; &middot; &nbsp;
          a(href="#")
            span.fa.fa-twitter-square
          | &nbsp;
          a(href="#")
            span.fa.fa-facebook-square
          | &nbsp;
          a(href="#")
            span.fa.fa-google-plus-square
        a.cover(href="detail.html")
          img(src="https://images.unsplash.com/photo-1431068799455-80bae0caf685?fit=crop&fm=jpg&h=800&q=80&w=1200")
      .post-summary
        p Đây là loại hình rò rỉ thực tế rõ nhất từ trước đến nay về chiếc BlackBerry Venice chạy Android, màn hình cong, có bàn phím cứng trượt ra. Qua hình ảnh ta cũng thấy được Vince là một chiếc điện thoại khá dày và to, có khe thẻ SIM và khe thẻ SD dạng slot cắp nên nhiều khả năng Venice được làm dạng nguyên khối không tháo ra được.
        p Theo hình ảnh chụp sát camera thì chúng ta có Camera có cảm biến 18Mp, chống rung quang học và lấy nét nhanh (fast focus)... đọc đến đây là thấy phê rồi.
    article.post
      .post-content
        header
          .post-cat Google
          a(href="detail.html")
            h6.post-title Google Docs hỗ trợ nhập liệu bằng giọng nói, có Template, tích hợp Google Search...
          span.date hôm nay lúc 20:59
          span &nbsp; &middot; &nbsp;
          a(href="#")
            span.fa.fa-twitter-square
          | &nbsp;
          a(href="#")
            span.fa.fa-facebook-square
          | &nbsp;
          a(href="#")
            span.fa.fa-google-plus-square
      .post-summary
        p Bộ ứng dụng Google Docs vừa được cập nhật thêm nhiều tính năng mới rất tuyệt vời: gõ văn bản bằng giọng nói, có chức năng Template để tạo mẫu văn bản rất đẹp, tích hợp khung tìm kiếm Google và chức năng Explore xem nhanh biểu đồ trong Sheets mà không cần tạo... Gõ văn bản bằng giọng nói Thay vì gõ bàn phím thì bạn nói, nói đến đâu thì Google Docs sẽ tự gõ văn bản ra đến đó, hỗ trợ đến 40 ngôn ngữ và...
        
  section#pagination
    .inner
      a.prev.disabled(href='#')
        span.fa.fa-angle-left
        em &nbsp; Bài mới hơn
      a.next(href='#') 
        em Bài cũ hơn &nbsp; 
        span.fa.fa-angle-right