<section id="featured">
  <div class="inner">
    <% page.posts.find({featured : true }).limit(4).each(function(post){ %>
      <%- partial('_partial/article', {post: post, index: true , simple: true}) %>
    <% }) %>
  </div>
</div>
<section id="posts">
  <%- partial('_partial/archive', {type: '', index: true, simple: false}) %>
</section>