<%- partial('_partial/head') %>
<body>
  <!--[if lt IE 8]>
  <p class="browsehappy">
    You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a>
    to improve your experience.
  </p>
  <![endif]-->
  <div id="container">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <%- body %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>