<article class="post archive-post archive-type-<%= post.layout %>">
  <div class="post-content">
   <header class="post-header">
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
      <ul class="post-meta">
        <li>
          <% if(archive) { %>
            <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
          <% } else { %>
            <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY MMM D'}) %>
          <% } %>
        </li>
        <li>
          <% if (post.comments && config.disqus_shortname){ %>
          <a href="<%- post.permalink %>#disqus_thread" class="post-comment"><%= __('article.comments') %></a>
          <% } %>
        </li>
      </ul>
    </header>
    <div class="post-entry">
      <% if (post.cover){ %>
      <a href="<%- url_for(post.path) %>" class="cover"><img src="<%= post.cover %>"></a>
      <% } %>
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="post-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> <span class="fa fa-angle-right"></span></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
  </div>
</article>