<% switch (type) {
    case 'archive':
    var last;
    page.posts.each(function(post, i){
    var year = post.date.year();
    if (last != year){
      if (last != null){ %>
        </div></section>
      <% }
      last = year; %>
      <section id="posts">
        <div class="page-headline">
          <div class="inner"><a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= year %></a></div>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, archive: true}) %>
  <% });
    if (page.posts.length){ %>
    </div></section>
  <% }
    if (page.total > 1){ %>
      <section id="pagination">
        <div class="inner">
          <%- paginator({
            prev_text: '<span class="fa fa-angle-left"></span><em>'+ __('nav.prev')+'</em>',
            next_text: '<em>'+ __('nav.next') +'</em><span class="fa fa-angle-right"></span>'
          }) %>
        </div>
      </section>
    <% }
    break;
  case 'category': %>
    <section id="posts">
      <div class="page-headline">
        <div class="inner"><%= page.category %></div>
      </div>
      <div class="archives">
        <% page.posts.each(function (post, i) { %>
          <%- partial('archive-post', {post: post, archive: false}) %>
        <% }); %>
      </div>
    </section>
    <% if (page.total > 1){ %>
      <section id="pagination">
        <div class="inner">
          <%- paginator({
            prev_text: '<span class="fa fa-angle-left"></span><em>'+ __('nav.prev')+'</em>',
            next_text: '<em>'+ __('nav.next') +'</em><span class="fa fa-angle-right"></span>'
          }) %>
        </div>
      </section>
    <% }
    break;
  case 'tag': %>
    <section id="posts">
      <div class="page-headline">
        <div class="inner"><em>#</em><%= page.tag %></div>
      </div>
      <div class="archives">
      <% page.posts.each(function (post, i) { %>
        <%- partial('archive-post', {post: post, archive: false}) %>
      <% }); %>
      </div>
    </section>
    <% if (page.total > 1){ %>
      <section id="pagination">
        <div class="inner">
          <%- paginator({
            prev_text: '<span class="fa fa-angle-left"></span><em>'+ __('nav.prev')+'</em>',
            next_text: '<em>'+ __('nav.next') +'</em><span class="fa fa-angle-right"></span>'
          }) %>
        </div>
      </section>
    <% }
    break;
  case 'featured': 
    page.posts.find({ featured : 'true' }).each(function(post){ %>
      <%- partial('article', {post: post}) %>
    <% })
    break;
  default:
    page.posts.find({featured : { $ne : true} }).each(function(post){ %>
      <%- partial('article', {post: post, index: true}) %>
    <% })
    if (page.total > 1){ %>
      <section id="pagination">
        <div class="inner">
          <%- paginator({
            prev_text: '<span class="fa fa-angle-left"></span><em>'+ __('nav.prev')+'</em>',
            next_text: '<em>'+ __('nav.next') +'</em><span class="fa fa-angle-right"></span>'
          }) %>
        </div>
      </section>
    <% }
    break;
} %>