<% if (!index){ %>
<section id="post">
<% } %>
  <article id="<%= post.layout %>-<%= post.slug %>" class="post article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <div class="post-content">
      <% if (simple){ %><div class="post-inner"><% } %>
      <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
        <header class="post-header">
          <div class="post-cat"><%- partial('post/category') %></div>
          <%- partial('post/title', {class_name: 'article-title'}) %>
          <ul class="post-meta">
            <li><%- partial('post/date', {class_name: 'article-date', date_format: null}) %></li>
            <li><% if (post.comments && config.disqus_shortname){ %>
              <a href="<%- post.permalink %>#disqus_thread" class="post-comment"><%= __('article.comments') %></a>
            <% } %>
            </li>
          </ul>
        </header>
      <% } %>
      <div class="post-entry">
        <% if (post.cover){ %>
        <a href="<%- url_for(post.path) %>" class="cover" <% if (simple){ %>style="background-image: url(<%= post.cover %>)"<% } %>>
          <% if (!simple){ %><img src="<%= post.cover %>"><% } %>
        </a>
        <% } %>
        <% if (post.excerpt && index){ %>
          <% if (!simple){ %>
            <%- post.excerpt %>
            <% if (theme.excerpt_link){ %>
              <p class="post-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> <span class="fa fa-angle-right"></span></a>
              </p>
            <% } %>
          <% } %>
        <% } else { %>
          <% post.content = post.content.replace(/iOS/g,            '<a href="/the/iOS/">iOS</a>') %>
          <% post.content = post.content.replace(/watchOS/g,        '<a href="/the/watchOS/">watchOS</a>') %>
          <% post.content = post.content.replace(/Facebook/g,       '<a href="/the/Facebook/">Facebook</a>') %>
          <% post.content = post.content.replace(/Apple/g,          '<a href="/the/Apple/">Apple</a>') %>
          <% post.content = post.content.replace(/iPhone/g,         '<a href="/the/iPhone/">iPhone</a>') %>
          <% post.content = post.content.replace(/iPad/g,           '<a href="/the/iPad/">iPad</a>') %>
          <% post.content = post.content.replace(/Microsoft/g,      '<a href="/the/Microsoft/">Microsoft</a>') %>
          <% post.content = post.content.replace(/Windows/g,        '<a href="/the/Windows/">Windows</a>') %>
          <% post.content = post.content.replace(/Google/g,         '<a href="/the/Google/">Google</a>') %>
          <% post.content = post.content.replace(/Xbox 360/g,       '<a href="/the/Xbox-360/">Xbox 360</a>') %>
          <% post.content = post.content.replace(/Xbox One/g,       '<a href="/the/Xbox-One/">Xbox One</a>') %>
          <% post.content = post.content.replace(/Xbox One/g,       '<a href="/the/Xbox-One/">Xbox One</a>') %>
          <% post.content = post.content.replace(/công nghệ/g,      '<a href="/chuyenmuc/Cong-nghe/">công nghệ</a>') %>
          <% post.content = post.content.replace(/Công nghệ/g,      '<a href="/chuyenmuc/Cong-nghe/">Công nghệ</a>') %>
          <% post.content = post.content.replace(/khoa học/g,       '<a href="/chuyenmuc/Khoa-hoc/">khoa học</a>') %>
          <% post.content = post.content.replace(/Khoa học/g,       '<a href="/chuyenmuc/Khoa-hoc/">Khoa học</a>') %>
          <%- post.content %>
        <% } %>
      </div>
       <% if (simple){ %></div><% } %>
      
    <% if (!index){ %>
      <footer class="post-footer">
        <%- partial('post/tag') %>
      </footer>
    <% } %>
    </div>
  </article>
<% if (!index){ %>
  <div class="ads">
    <div class="inner">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Xiklo -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3241787980949470"
           data-ad-slot="4837134548"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</section>
<% } %>

<% if (!index){ %>
  <%- partial('post/nav') %>
<% } %>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>