<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = page.category;
  } else if (is_tag()){
    title = page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> - <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>?version=<%= date(new Date(), 'YYYYMMHHmm') %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-icon-192x192.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="manifest" href="/assets/icons/manifest.json?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/assets/stylesheets/main.css?version=<%= date(new Date(), 'YYYYMMHHmm') %>">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,vietnamese,latin-ext">
</head>
