<nav class="mainnav">
  <div class="inner">
    <a id="logo" class="logo" href="<%- url_for('/') %>"><%=(theme.logo_text?theme.logo_text:'')%>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32.7 8.5" style="enable-background:new 0 0 32.7 8.5;" xml:space="preserve" height="20">
        <g id="XMLID_161_">
        	<path id="XMLID_165_" style="fill:#FD4A1B;" d="M4.9,4.3c0.9,1.3,1.9,2.7,2.9,4c0.1,0.1,0,0.2-0.1,0.2H0.1C0,8.5,0,8.4,0,8.3l2.9-4
        		L0,0.3C0,0.2,0,0.1,0.1,0.1h7.5c0.1,0,0.2,0.1,0.1,0.2L4.9,4.3z M3.9,5.5c-0.4,0.6-0.7,1-1.2,1.6H5L3.9,5.5z M3.9,3.1
        		C4.3,2.5,4.6,2.1,5,1.6H2.8L3.9,3.1z"/>
        	<path id="XMLID_169_" style="fill:#FD4A1B;" d="M10.7,1.6v5.5h0.8c0.1,0,0.1,0,0.1,0.1v1.2c0,0,0,0.1-0.1,0.1H8.2
        		c-0.1,0-0.1,0-0.1-0.1V7.2c0,0,0-0.1,0.1-0.1h0.9V1.6H8.3c-0.1,0-0.1,0-0.1-0.1V0.2c0,0,0-0.1,0.1-0.1h3.2c0.1,0,0.1,0,0.1,0.1v1.2
        		c0,0,0,0.1-0.1,0.1H10.7z"/>
        	<path id="XMLID_171_" style="fill:#FD4A1B;" d="M16.2,4.4l3.4,4c0.1,0.1,0,0.2-0.1,0.2h-1.8c0,0-0.1,0-0.1,0l-2.4-3
        		c-0.2,0.2-0.4,0.5-0.6,0.7v2.2c0,0,0,0.1-0.1,0.1H13c-0.1,0-0.1,0-0.1-0.1V0.2c0,0,0-0.1,0.1-0.1h1.4c0.1,0,0.1,0,0.1,0.1V4
        		l3.2-3.9c0,0,0.1,0,0.1,0h1.7c0.1,0,0.2,0.1,0.1,0.2L16.2,4.4z"/>
        	<path id="XMLID_173_" style="fill:#FD4A1B;" d="M25.2,7c0.1,0,0.1,0,0.1,0.1v1.4c0,0,0,0.1-0.1,0.1h-4.4c-0.1,0-0.1,0-0.1-0.1V0.2
        		c0,0,0-0.1,0.1-0.1h1.4c0.1,0,0.1,0,0.1,0.1V7H25.2z"/>
        	<path id="XMLID_175_" style="fill:#FD4A1B;" d="M26.4,3.1c0-1.7,1.4-3.1,3.2-3.1s3.2,1.4,3.2,3.1c0,1.7-1.4,3.1-3.2,3.1
        		S26.4,4.9,26.4,3.1z M32.3,8.4c0,0,0,0.1-0.1,0.1h-5.4c-0.1,0-0.1,0-0.1-0.1V7.1c0,0,0-0.1,0.1-0.1h5.4c0.1,0,0.1,0,0.1,0.1V8.4z
        		 M28,3.1c0,0.9,0.7,1.6,1.6,1.6c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6C28.7,1.5,28,2.3,28,3.1z"/>
        </g>
      </svg>
    </a>
    <input id="nav" type="checkbox">
    <label for="nav"><span class="fa fa-bars"></span></label>
    <%- list_categories(site.categories,{
      show_count: false,
    }) %>
  </div>
</nav>