/* 
==========================================================================
3RD PARTY
========================================================================== 
*/
@import "normalize";
$typecsset-base-font-size:      16px;
$typecsset-base-line-height:    24px;
$typecsset-show-baseline:       false;
@import "typecsset";

$post-width: 760px;
$site-width: 960px;


/* 
==========================================================================
GLOBAL STYLES
========================================================================== 
*/
*{
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
@media only screen 
and (max-width : 768px){
  body{
    padding-top: 60px;
  }
}

a{
  text-decoration: none;
  color: #30353B;
  outline: none;
  &:hover{
    color: #c0392b;
    outline: none;
  }
  &.tw:hover{
    color: #3498db;
  }
  &.fb:hover{
    color: #3b5998;
  }
}

/* 
==========================================================================
HEADER
========================================================================== 
*/
.logo{
  float: left;
  font-weight: 700;
  display: block;
  color: white;
  padding: 20px 0;
  width: 87px; 
  height: 60px;
  @include typecsset-font-size(14px);
  &:hover{
    color: #fff;
  }
  svg{
    float: left;
    display: inline-block;
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .logo{}
}
nav.mainnav{
  background-color: #222;
  padding: 0 20px;
  z-index: 2;
  user-select: none;
  z-index: 999;
  a{
    display: block;
  }
  .inner{
    max-width: $site-width;
    margin: 0 auto;
    & > ul {
      float: right;
      list-style-type: none;
      margin: 0;
      li ul li {
        width: 100%;
        text-align: left;
      }
      li:hover {
        cursor: pointer;
        position: relative;
      }
      li:hover > ul {
        display: block;
      }
      & > li > a {
        display: block;
        outline: none;
        width: 100%;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        border-bottom: 3px solid transparent;
        display: block;
        color: white;
        padding: 20px 0 17px;
        @include typecsset-font-size(14px);
      }
      & > li {
        display: inline-block;
        text-transform: uppercase;
        padding: 0 0 0 20px;
        &:hover{
          & > a{
            border-bottom: 3px solid #8CAF2E;
            color: #fff;
          }
        }
        ul {
          display: none;
          position: absolute;
          right: 0;
          top: 100%;
          border: 1px solid rgba(0,0,0,.15);
          margin: 0;
          padding: 0;
          list-style-type: none;
          box-shadow: 0 6px 12px rgba(0,0,0,.175);
          border-top: 0;
          background: #fff;
          z-index: 2000;
          li > a {
            text-transform: none;
            font-size: 13px;
            letter-spacing: 0.05em;
            border-bottom: 1px solid #e5e5e5;
            padding: 10px 25px;
            color: #999;
            text-decoration: none;
            text-align: right;
            &:hover{
              color: #333;
            }
          }
          li:last-child > a {
            border-bottom: none;
          }
        }
      }
    }
    [type="checkbox"],
    label {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .logo{
    float: left;
  }
  nav.mainnav{
    position: absolute;
    left: 0; 
    right: 0;
    top: 0;
    .inner{
      label {
        display: block;
      }
      & > ul {
        display: none;
        float: none;
        clear: both;
        margin: 0 -20px;
        & > li {
          border-top: 1px solid #333;
          padding: 0 20px;
          a{
            padding: 10px 0;
          }
          & > ul{
            display: block;
            position: static;
            background: transparent;
            box-shadow: none;
            border: none;
            & > li {
              border-top: 1px solid #333;
              a{
                border: none;
                text-align: left;
                &:hover{
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  label {
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0px;
    @include typecsset-font-size(28px);
    line-height: 28px;
    margin: 15px 0;
    color: #fff;
  }
  nav.mainnav .inner [type="checkbox"]:checked ~ ul {
    display: block;
    position: relative;
    z-index: 2000;
  }
  nav.mainnav{
    & ul li {
      display: block;
      float: none;
      width: 100%;
      text-align: left;
      padding: 0  
    }
    & > ul > li {
      margin-left: 0px;
    }
    & > ul li ul li {
      display: block;
      float: none;
    }
    & > ul li ul {
      display: block;
      position: relative;
      width: 100%;
      z-index: 9999;
      float: none;
    }
  }
}

/* 
==========================================================================
FEATURED POSTS
========================================================================== 
*/
#featured{
  background: #30353b;
  padding: 15px 15px;
  .inner{
    max-width: $site-width + 10;
    margin: 0 auto;
    .post{
      float: left;
      width: 25%;
      position: relative;
      .post-title{
        @include typecsset-font-size(21px);
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
      }
      &:nth-child(2) .post-title,
      &:nth-child(3) .post-title{
        @include typecsset-font-size(14px);
        line-height: 20px;
      }
      &:first-child{
        width: 50%;
      }
      &:last-child{
        width: 50%;
        .post-content{
          padding-bottom: 50%;
        }
      }  
      .post-entry:after{
        background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 20%,#000);
      }
      &:hover{
        z-index: 10;
        &:first-child{
          .post-inner{
            left: 0; right: -10%;
            top: -10%;
          }
        }
        .post-inner{
          left: -10%;
          top: -10%;
        }
        .post-entry{
          box-shadow: 0 0 30px rgba(10,10,10,.8) ;
        }
        .post-header{
          bottom: 50%;
          transform: translateY(50%);
        }
      }
      &:nth-child(1) .post-entry:after{
        background: #417711;
        background: linear-gradient(135deg,#417711,#002f4b);
      }
      &:nth-child(2) .post-entry:after{
        background: #dc4225;
        background: linear-gradient(135deg,#417711,#dc4225);
      }
      &:nth-child(3) .post-entry:after{
        background: #d38312;
        background: linear-gradient(135deg,#d38312,#a83279);
      }
      &:nth-child(4) .post-entry:after{
        background: #292484;
        background: linear-gradient(135deg,#dc4225,#292484);
      }
    }
  }
  .post-title{
    margin: 0;
    line-height: 30px;
    font-weight: 600;    
  }
  .post-content{
    height: 0;
    padding-bottom: 100%;
    position: relative;
  }
  .post-inner{
    position: absolute;
    left: 5px; right: 5px;
    top: 5px; bottom: 5px;
    transition: all 0.1s ease-in-out;
  }
  .post-header{
    position: absolute;
    bottom: 0;
    padding: 20px 30px;
    z-index: 2;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
    a{
      color: #fff;
      pointer-events: visible;
    }
  }
  .post-entry{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(10,10,10,.2);
  }
  .post-entry:after{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    content: "";
    opacity: 0.8;
    pointer-events: none;
  }
  .post-entry a{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    overflow: hidden;
  }
  .post-entry a:before{
    position: absolute;
    left: 0; right: 0; 
    top: 0; bottom: 0;
    content: "";
  }
  .post-entry a:after{
    content: "";
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    transition: all 0.1s ease-in-out;
  }
  .post-cat{
    padding: 0;
    margin: 0;
    color: #AAA;
    a{
      color: #CCC;
    }
  }
  .post-meta{
    list-style-type: none;
    margin: 0;
    @include typecsset-font-size(12px);
    a{
      color: #CCC;
    }
  }
}
@media screen and (max-width: 768px) {
  #featured{
    .inner{
      .post{
        float: none;
        width: auto;
        position: relative;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
        .post-title{
          @include typecsset-font-size(21px);
        }
        &:nth-child(2) .post-title,
        &:nth-child(3) .post-title{
          @include typecsset-font-size(21px);
        }
        &:first-child{
          width: auto;
        }
        &:last-child{
          width: auto;
          .post-content{
            padding-bottom: 0;
          }
        }  
        &:hover{
          z-index: 10;
          .post-content{
            transform: none;
          }
          .post-entry{
            box-shadow: 0 0 30px rgba(10,10,10,.8) ;
          }
          .post-header{
            transform: none;
          }
        }
      }
      &:last-child{
        .post-content{
          padding-bottom: 0;
        }
      } 
    }
    .post-content{
      height: auto;
      padding-bottom: 0;
    }
    .post-inner{
      position: static;
    }
    .post-header{
      position: relative;
    }
    .post-entry{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

    }
  }
}

/* 
==========================================================================
POSTS
========================================================================== 
*/
.page-headline{
  border-bottom: 2px solid #e9edf1;
  padding: 20px;
  & > .inner{
    max-width: $site-width;
    margin: 0 auto;
    text-transform: uppercase;
    @include typecsset-font-size(14px);
    font-weight: bold;
    color: #2a3744;
    em{
      font-style: normal;
      color: #999;
    }
  }
}
.post{
  .post-cat{
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
    opacity: 0.8;
    text-transform: uppercase;    
    font-weight: bold;
    margin-bottom: 5px;
    @include typecsset-font-size(10px);    
  }
}
#post,
#posts{
  overflow: hidden;
  .ads{
    margin: 30px auto 0;
    padding: 0 30px;
    max-width: 760px;
    .inner{
      background: #eee;
    }
  }
  .post{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    &:nth-child(even){
      background: #f2f2f2;
    }
  }
  .post-content{
    max-width: $site-width;
    margin: 0 auto;
    header{
      max-width: $post-width;
      padding: 20px 30px 0;
      margin: 0 auto;
    }
    .cover,{
      position: static;
      display: block;
      margin: 15px 0 30px;
      border-bottom: none;
      img{
        width: 100%;
        display: block;
      }
    }
  }
  .post-meta{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #999;
    @include typecsset-font-size(12px);
    display: inline-block;
    &:first-letter{
      text-transform: capitalize;
    }
    li{
      float: left;
    }
    a{
      color: #999;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .post-entry{
    a{
      border-bottom: 1px solid #eee;
      transition: all 0.2s ease-in-out;
      &:hover{
        border-color: #333;
      }
    }
    p:first-child{
      @include typecsset-font-size(18px);
      line-height: 26px;
    }
    p,ul,h1,h2,h3,h4,h5,h6, blockquote, ul, ol{
      max-width: $post-width;
      margin: 0 auto;
      color: #444;
      padding: 0 30px 20px;
      @include typecsset-font-size(16px);
    }
    blockquote{
      color: #adada7;
      padding: 0 30px 0 24px;
      border-left: 6px solid #EEE;
      margin-bottom: 30px;
      text-indent: 0;
      a{
        color: #adada7;
        &:hover{
          color: #c0392b;
        }
      }
      p{
        padding: 0 0 30px;
        font-style: italic;
        color: #adada7;
        &:first-child{
          @include typecsset-font-size(16px);          
        }
        &:last-child{
          padding-bottom: 0;
        }
        &:before{
          content: "";
        }
      }
    }
    img{
      max-width: 100%;
    }
  }
  .post-more-link{
    a{
      color: #444;
    }
  }
  .post-footer{
    max-width: $post-width;
    margin: 0 auto;
    padding: 0 30px 30px;
    a{
      color: #999;
      display: inline-block;
      border: 1px solid #CCC;
      border-radius: 3px; 
      @include typecsset-font-size(10px);
      line-height: 10px;
      padding: 3px 5px;
      margin: 0 3px 10px 0;
      transition: all 0.2s ease-in-out;
      &:hover{
        background: #ccc;
        color: #fff;
      }
    }
    @include typecsset-font-size(12px);
  }
  .embed {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    margin-bottom: 30px;
  	iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
  .post-cat{
    display: block;
    line-height: 12px;
    border-radius: 0;
    color: #CCC;
    padding: 0;
    @include typecsset-font-size(12px);
    a{
      color: #8AAE2C;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .post-title{
    @include typecsset-font-size(29px);
    line-height: 36px;
    letter-spacing: -1px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
.post-more-link{
  font-weight: 700;
  position: relative;
  &:before{
    top: -100px;
    height: 80px;
    content: "";
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    #posts .post:nth-child(even) &{
      background-image: linear-gradient(to bottom, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 100%);
    }
  }
  a{
    display: block;
    border: none !important;
  }
}
@media only screen 
and (max-width : 768px){
  #posts{
    .post-title{
      @include typecsset-font-size(26px);
      line-height: 30px;
    }
  }
}

/* 
==========================================================================
PAGINATION
========================================================================== 
*/
#pagination{
  border-bottom: 1px solid #eee;
  .inner{
    max-width: $post-width;
    margin: 30px auto;
    padding: 0 30px;
    em{
      font-style: normal;
    }
    a{
      display: block;
      padding: 5px 20px;
      line-height: 22px !important;
      border-radius: 3px;
      background: #f2f2f2;
      transition: all 0.2s ease-in-out;
      min-height: 30px;
      &:hover{
        color: #fff;
        background: #8AAE2C;  
      }
      &.disabled,
      &.disabled:hover{
        color: #ccc;
        background: #f2f2f2;
        cursor: default;
      }
    }
    .next,
    .next_post,
    .prev,
    .prev_post{
      max-width: 45%;
      position: relative;
    }
    .next,
    .next_post{
      float: right;
      text-align: right;
      padding-right: 40px;
      .fa{
        right: 15px;
        left: auto;
      }
    }
    .prev,
    .prev_post{
      float: left;
      padding-left: 40px;
    }
    .next_post,
    .prev_post{
      background: transparent;
      padding: 0;      
      font-weight: 700;
      .fa{
        display: none;
      }
      &:hover{
        background: transparent;
        color: #c0392b;
      }
      &:before{
        display: block;
        color: #CCC;
        text-transform: uppercase;
        font-weight: 700;
        @include typecsset-font-size(11px);
      }
    }
    .next_post:before{
      content: "Bài mới hơn";
    }
    .prev_post:before{
      content: "Bài cũ hơn";
    }
    .fa{
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 15px;
      opacity: 0.5;
      @include typecsset-font-size(24px);
    }
  }
  .page-number,
  a.page-number{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #pagination{
    .inner{
      .prev,
      .prev_post{
        padding-bottom: 20px;
      }
      .next,
      .next_post,
      .prev,
      .prev_post{
        float: none;
        max-width: 100%;
        text-align: center;
      }
    }
  }
}

/* 
==========================================================================
FOOTER
========================================================================== 
*/
.footer{
  text-align: center;
  padding: 30px 30px 0;
  color: #999;
  @include typecsset-font-size(12px);
}

/* 
==========================================================================
CLEARFIX
========================================================================== 
*/
.cf,
nav,
#featured,
#pagination .inner,
nav,
.logo{
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  &:after {
      clear: both;
  }
  & {
      *zoom: 1;
  }
}