doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', sizes='57x57', href='/assets/icons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/assets/icons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/icons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/icons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/icons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/assets/icons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/assets/icons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/assets/icons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/icons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/assets/icons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/icons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/icons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/icons/favicon-16x16.png')
    link(rel='manifest', href='/assets/icons/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/assets/icons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    link(rel='stylesheet', href='assets/stylesheets/main.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700|Tinos:700&subset=latin,vietnamese')
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    #featured
      article.post
        .cover(style="background-image: url(http://1anh.com/346/150/EZYwYm5NdZIwlXo48tMBufykgNFiWK-L-tezFAefrD_4X_Yl10iB3Y4KI3-xSQaVWiyerI-MchR2nZFmvTUVo34juGZivHzCgMHUGuiKoOBMeT5atKeL5wk5wQmbYxKB)")
        .post-content
          a.permalink(href="detail.html")
          .post-summary
            a.post-cat(href="cat.html") Công nghệ
            header
              h6.post-title Hình ảnh thực tế BlackBerry Venice chạy Android
            footer
              span.date hôm nay lúc 20:59
      article.post
        .cover(style="background-image: url(https://1anh.com/500/0/EZYwYm5NdZIwlXo48tMBufykgNFiWK-L-tezFAefrD9w6Z5yOalN2wfRhSY7BEyn_-eP__s13jeVCR1b5TcnSV2uQMGv92UFXPvc-Xv3UfuhWUFl-y4EkVCPN95wgcxV)")
        .post-content
          a.permalink(href="detail.html")
          .post-summary
            a.post-cat(href="cat.html") Đánh giá
            header
              h6.post-title Trên tay Braven BRV-Pro: vỏ kim loại dày, nghe nhạc 15 tiếng
            footer
              span.date hôm nay lúc 20:59    
      article.post
        .cover(style="background-image: url(https://photo.tinhte.vn/store/2015/09/3129925_swarm.gif)")
        .post-content
          a.permalink(href="detail.html")
          .post-summary
            a.post-cat(href="cat.html") Video
            header
              h6.post-title Xem anh chàng bay lên bằng drone tự chế có 54 cánh quạt
            footer
              span.date hôm nay lúc 20:59    
      article.post
        .cover(style="background-image: url(https://1anh.com/500/0/EZYwYm5NdZIwlXo48tMBufykgNFiWK-L-tezFAefrD9KFeeWX2194K1H2aQ9KSkfK-2nf1Wqi6gpNa2PshqnR34juGZivHzCgMHUGuiKoOBMeT5atKeL5wk5wQmbYxKB)")
        .post-content
          a.permalink(href="detail.html")
          .post-summary
            a.post-cat(href="cat.html") Du lịch
            header
              h6.post-title Người trẻ nhất thế giới đã du lịch hết 198 quốc gia, 2 kỉ lục Guinness
            footer
              span.date hôm nay lúc 20:59 
    
    nav
      .inner
        a.logo(href='/') 
          svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 9 9', style='enable-background:new 0 0 9 9;', xml:space='preserve', width="24px", height="24px")
            style(type='text/css').
              .st0{fill:#FFFFFF;}
            path#XMLID_63_.st0(d='M0,0v9h9V0H0z M1.3,1.3h1.3v1.3H1.3V1.3z M7.7,2.6H6.4v1.3H5.1v1.3h1.3v1.3h1.3v1.3H6.4V6.4H5.1\
            V5.1H3.9v1.3H2.6v1.3H1.3V6.4h1.3V5.1h1.3V3.9h1.3V2.6h1.3V1.3h1.3V2.6z')
          | Xiklo

        input#nav(type='checkbox')
        label(for='nav')
          span.fa.fa-bars
        ul
          li
            a(href='/') Công nghệ
          li
            a(href='/') Đánh giá
          li
            a(href='/') Video
          li
            a(href='/') Du lịch  
          //- li
          //-   a(href='/')
          //-     span.fa.fa-search
   
                
    block content
    
    footer.footer
      p Copyright

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
    //-script(src='javascripts/plugins.js')
    //-script(src='javascripts/script.js')

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');