<% if (post.categories && post.categories.length){ %>
  <%- list_categories(post.categories, {
    show_count: false,
    class: 'article-category',
    style: 'none',
    separator: '&nbsp; &middot; &nbsp;'
  }) %>
<% } %>