<% if (post.prev || post.next){ %>
<section id="pagination">
  <div class="inner">
    <% if (post.prev){ %>
      <a href="<%- url_for(post.prev.path) %>" id="post-nav-newer"  class="prev_post">
        <span class="fa fa-angle-left"></span>
        <em><%= post.prev.title %></em>
      </a>
    <% } %>
    <% if (post.next){ %>
      <a href="<%- url_for(post.next.path) %>" id="post-nav-older"  class="next_post">
        <span class="fa fa-angle-right"></span>
        <em><%= post.next.title %></em>
      </a>
    <% } %>
  </div>
</section>
<% } %>