<% if (post.link){ %>
  <h6 class="post-title">
    <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </h6>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h6 class="post-title">
      <a class="<%= class_name %>" href="<%- url_for(post.path) %>"><%= post.title %></a>
    </h6>
  <% } else { %>
    <h6 class="post-title <%= class_name %>"=>
      <%= post.title %>
    </h6>
  <% } %>
<% } %>