@import "normalize";

$typecsset-base-font-size:      16px;
$typecsset-base-line-height:    24px;
$typecsset-show-baseline:       false;
@import "typecsset";

/* 
==========================================================================
GLOBAL STYLES
========================================================================== 
*/
*{
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
@media only screen 
and (max-width : 768px){
  body{
    padding-top: 60px;
  }
}

a{
  text-decoration: none;
  color: #30353B;
  &:hover{
    color: #c0392b;
  }
  &.tw:hover{
    color: #3498db;
  }
  &.fb:hover{
    color: #3b5998;
  }
}

/* 
==========================================================================
HEADER
========================================================================== 
*/
.logo{
  float: left;
  font-weight: 700;
  &:hover{
    color: #fff;
  }
  svg{
    float: left;
    margin-right: 10px;
  }
}
nav{
  background-color: #30353B;
  .inner{
    max-width: 1200px;
    margin: 0 auto;
    & > ul {
      float: right;
      list-style-type: none;
      margin: 0;
      li ul li {
        width: 100%;
        text-align: left;
      }
      li:hover {
        cursor: pointer;
        position: relative;
      }
      li:hover > ul {
        display: block;
      }
      & > li > a {
        display: block;
        outline: none;
        width: 100%;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        &:hover{
          background-color: #8CAF2E;
          color: #fff;
        }
      }
      & > li {
        float: left;
        ul {
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          z-index: 2000;
          li > a {
            text-decoration: none;
          }
        }
      }
    }
    [type="checkbox"],
    label {
      display: none;
    }
  }
  a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 20px 30px;
    @include typecsset-font-size(16px);
  }
}
@media screen and (max-width: 768px) {
  nav{
    position: absolute;
    left: 0; 
    right: 0;
    top: 0;
    .inner{
      label {
        display: block;
      }
      ul {
        display: none;
        li a{
          padding: 20px 10px;
        }
      }
    }
  }
  label {
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0px;
    @include typecsset-font-size(28px);
    line-height: 28px;
    margin: 15px 0;
    color: #fff;
  }
  [type="checkbox"]:checked ~ ul {
    display: block;
    z-index: 9999;
    position: absolute;
    right: 0;
    left: 0;
    top: 60px;
  }
  nav ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
    background: #222;
    text-indent: 20px;
  }
  nav > ul > li {
    margin-left: 0px;
  }
  nav > ul li ul li {
    display: block;
    float: none;
  }
  nav > ul li ul {
    display: block;
    position: relative;
    width: 100%;
    z-index: 9999;
    float: none;
  }
  h1 {
    font-size: 26px;
  }
}

/* 
==========================================================================
FEATURED POSTS
========================================================================== 
*/
#featured{
  color: #eee;
  a{
    color: #fff
  }
  .post{
    position: relative;
    width: 25%;
    float: left;
    .cover{
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;
      z-index: 0;
      background-position: center center;
      background-size: cover;
      background-color: #000;
      &:after{
        content: "";
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        transition: all 0.2s ease-in-out;
        opacity: 0.8;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .9));
      }
    }
    &:hover .cover:after{
      opacity: 1;
    }
    footer{
      font-weight: 200;
      opacity: 0.8;
      @include typecsset-font-size(12px);
      &:first-letter{
        text-transform: capitalize;
      }
    }
  }
  .post-cat{
    border: 1px solid #fff;
    @include typecsset-font-size(10px);
    line-height: 16px;
    pointer-events: all;
    &:hover{
      background: #fff;
      color: #333;
    }
  }
  .post-title{
    line-height: 1.4;
    margin-bottom: 0.2em;
    text-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 1px;
  }
  .post-content{
    height: 0;
    padding-bottom: 50%;
  }
  .post-summary{
    position: absolute;
    pointer-events: none;
    bottom: 0;
    padding: 0 30px 30px;
  }
  .permalink{
    position: absolute;
    bottom: 0; left: 0;
    top: 0; right: 0;
  }
}
@media only screen 
and (min-width : 1024px) 
and (max-width : 1280px){
  #featured{
    .post-summary{
      padding: 10px 30px;
    }
    .post-title{
      @include typecsset-font-size(16px);
      line-height: 20px;
    }
  }
}
@media only screen 
and (max-width : 1024px){
  #featured{
    .post{
      position: relative;
      width: 50%;
      float: left;
    }
    .post-title{
      @include typecsset-font-size(16px);
    }
    .post-content{
      height: 0;
      padding-bottom: 50%;
    }
    .post-summary{
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 30px;
    }
  }
}
@media only screen 
and (max-width : 768px){
  #featured{
    .post{
      position: relative;
      width: 100%;
      float: left;
    }
    .post-title{
      @include typecsset-font-size(16px);
    }
    .post-content{
      height: auto;
      padding-bottom: 0;
      padding: 30px;
    }
    .post-summary{
      position: relative;
      width: 100%;
      padding: 0;
    }
  }
}

/* 
==========================================================================
POSTS
========================================================================== 
*/
.post{
  .post-cat{
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
    opacity: 0.8;
    text-transform: uppercase;    
    font-weight: 600;
    margin-bottom: 5px;
    @include typecsset-font-size(10px);    
  }
}

#posts{
  .post{
    border-bottom: 1px solid #eee;
    &:nth-child(even){
      background: #f2f2f2;
    }
  }
  .post-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 30px;
    header{
      max-width: 860px;
      padding: 20px 30px 0;
      margin: 0 auto;
      .date{
        @include typecsset-font-size(12px);
        color: #999;
        display: inline-block;
        &:first-letter{
          text-transform: capitalize;
        }
      }
    }
    .cover{
      position: static;
      display: block;
      margin-top: 30px;
      img{
        width: 100%;
        display: block;
      }
    }
  }
  .post-entry{
    max-width: 860px;
    margin: 0 auto;
    color: #444;
    padding: 0 30px 30px;
    @include typecsset-font-size(16px);
  }
  .post-cat{
    display: block;
    line-height: 12px;
    border-radius: 0;
    color: #8AAE2C;
    padding: 0;
    @include typecsset-font-size(12px);
    a{
      color: #30353B;
    }
  }
  .post-title{
    font-family: Tinos, 'Time News Roman', Times, serif;
    @include typecsset-font-size(34px);
    line-height: 40px;
    margin-bottom: 5px;
  }
}
@media only screen 
and (max-width : 768px){
  #posts{
    .post-title{
      @include typecsset-font-size(26px);
      line-height: 30px;
    }
  }
}

/* 
==========================================================================
PAGINATION
========================================================================== 
*/
#pagination{
  border-bottom: 1px solid #eee;
  .inner{
    max-width: 860px;
    margin: 30px auto;
    padding: 0 30px;
    em{
      font-style: normal;
    }
    a{
      display: block;
      padding: 5px 20px;
      line-height: 22px !important;
      border-radius: 3px;
      background: #f2f2f2;
      transition: all 0.2s ease-in-out;
      min-height: 30px;
      &:hover{
        color: #fff;
        background: #8AAE2C;  
      }
      &.disabled,
      &.disabled:hover{
        color: #ccc;
        background: #f2f2f2;
        cursor: default;
      }
    }
    .next,
    .next_post,
    .prev,
    .prev_post{
      max-width: 45%;
      position: relative;
    }
    .next,
    .next_post{
      float: right;
      text-align: right;
      padding-right: 40px;
      .fa{
        right: 15px;
        left: auto;
      }
    }
    .prev,
    .prev_post{
      float: left;
      padding-left: 40px;
    }
    .next_post,
    .prev_post{
      background: transparent;
      padding: 0;      
      .fa{
        display: none;
      }
      &:hover{
        background: transparent;
        color: #c0392b;
      }
      &:before{
        display: block;
        color: #CCC;
        text-transform: uppercase;
        font-weight: 700;
        @include typecsset-font-size(11px);
      }
    }
    .next_post:before{
      content: "Bài mới hơn";
    }
    .prev_post:before{
      content: "Bài cũ hơn";
    }
    .fa{
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 15px;
      @include typecsset-font-size(24px);
    }
  }
}
@media screen and (max-width: 768px) {
  #pagination{
    .inner{
      em{
        display: none;
      }
    }
  }
}

/* 
==========================================================================
FOOTER
========================================================================== 
*/
.footer{
  text-align: center;
  padding: 30px 30px 0;
  color: #999;
  @include typecsset-font-size(12px);
}

/* 
==========================================================================
CLEARFIX
========================================================================== 
*/
.cf,
#featured,
#pagination .inner,
nav{
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  &:after {
      clear: both;
  }
  & {
      *zoom: 1;
  }
}